@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #121212;
    color: #f7f7f7;
    overflow-x: hidden;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
}
